/* 
.homepage .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.homepage-user{
    width: 50px;
    height: 25px;
}
.homepage-wrapper{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}
.homepage-saidbar{
    width: 20%;
}
/* .homepage-products{
    padding: 10px ;
} */
.homepage-products{
    width: 80%;

}
.homepage-cards{
    display: flex;
    justify-content: space-between;
}
.home-imgs{
    width: 220px;
    height: 150px;
    padding: 5px;
}
