
.watch-wrapper{
    display: flex;
    justify-content: space-between;
}
.watch-videos{
width:1000px ;
height: 1000px;
height: 580px;
margin: 10px;
}
.watch-video iframe{
    padding: 10px 0;
    width: 100%;
    height: 550px;
}